.yc-side-list{
    margin: 0;

    li{
        display: flex;
        // justify-content: center;
        align-items: center;
        word-break: break-all;
        height: 40px;
        cursor: pointer;
        padding: 0 24px;
        color: #8590a6;

        &:hover{
            background: #f6f6f6;
        }
    }
}

.yc-side-container{

    .ant-card-body{
        padding: 16px 0;
    }
}